# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


Project/\.idea/codeStyles/Project\.xml

Project/\.idea/misc\.xml

Project/\.idea/modules\.xml

Project/\.idea/Project\.iml

Project/\.idea/vcs\.xml

Project/\.idea/workspace\.xml

Project/cmake-build-debug/cmake_install\.cmake

Project/cmake-build-debug/

Project/CMakeLists\.txt

Project/\.idea/

\.DS_Store
